
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff") format("woff2"),
    url("../fonts/Montserrat-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff") format("woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff") format("woff2"),
    url("../fonts/Montserrat-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



html {
  box-sizing: border-box;
}



*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
  min-width: 60px;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

/* Настройка сайта */

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}


.heading {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

/* header */

.header {
  padding: 14px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-svg-1 {
  max-width: 100%;
  margin-right: 729px;
}

.header-button {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: none;
  position: absolute;
  height: 21.55px;
  left: 1815px;
  top: 40px;
}

.header__div {
  display: flex;
  justify-content: space-between;
}

.header-links-top {
  display: flex;
  justify-content: space-between;
}

.header__nav__lists {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  max-width: 708px;
  height: 22px;
  left: 1028px;
  top: 39px;

}

.nav-header {

  display: flex;
  margin-right: 85px;
}

.header__nav__item {
  margin: 0;
  padding: 0;
  margin-right: 85px;
}

.header__nav__item:last-child {
  margin-right: 0;
}

.header-links {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

/* Main */

/* hero */

.hero {
  margin-bottom: 100px;
}

.hero-content {
  background-image: url("../img/fons-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 100px 100px 80px;
  min-width: 1770px;
}

.hero-text-h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 24px;
  max-width: 837px;
}

.hero-descr {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  max-width: 790px;
  margin-bottom: 90px;
}

.btn {
  background-color: #ff9900;
  padding: 25px 37px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  color: #ffffff;
  border: 1px solid #ff9900;
  cursor: pointer;
}

/* О НАС */

.about-us {
  margin-bottom: 100px;
}


.about-us-info {
  margin-bottom: 20px;
}

.about-us-text {
  margin: 0;
  padding: 0;
  display: inline-block;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  margin-bottom: 50px;
}

.about-cards {
  display: flex;
}


.about-us-left-block {
  display: flex;
  min-width: 868px;
  min-height: 626px;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/about-us-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-big-block-2 {
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 50px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.about-is-text {
  margin: 0;
  max-width: 454px;
}

.button {
  margin: 0;
  padding: 19px 38px;
  background: none;
  border: 3px solid #ff9900;
  color: #FFFFFF;
  cursor: pointer;
}

/* RIGHTS BLOCKS */

.about-us-right-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-left: 32px;
}

.about-us-right-blocks {
  display: flex;
  padding: 65px 118px 65px 300px;
  border: 1px solid #cacaca;
  margin-bottom: 32px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.abot-1 {
  background-image: url("../img/about-1.svg");
  background-repeat: no-repeat;
  background-position: left 60px top 65px;
}

.abot-2 {
  background-image: url("../img/about-2.svg");
  background-repeat: no-repeat;
  background-position: left 60px top 65px;

}

.about-photo-1 {
  max-width: 119px;
  max-height: 132px;
}

.about-us-right-blocks:not(:nth-last-child(2)) {
  margin-bottom: 0;
}

.about-us-h3 {
  margin: 0;
  max-width: 452px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}

.about-us-p {
  margin: 0;
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}


/* How we work */

.how-we-work {
  margin-bottom: 100px;
}

.how-we-work-heading {
  margin-bottom: 50px;
}



.how-we-work-content {
  display: flex;
  margin-bottom: 100px;
}

.how-we-work-left-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 142px;
}

.how-we-work-items {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;
  list-style-type: none;
}

.how-wework-block-1 {
  padding: 0;
  margin: 0;
}

.how-we-work-checklist {
  margin-right: 86px;
  padding: 0;
}

.how-we-work-checklist:nth-child(1) {
  margin-right: 87px;
}

.how-we-work-checklist:nth-child(2) {
  margin-right: 96px;
}

.how-we-work-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.how-we-work-consultation {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 11px;
  margin-bottom: 16px;
}

.how-we-work-text {
  margin: 0;
  min-width: 1;
  max-width: 1 ;
  width: 758px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 50px;
  height: 320px;
}


.we-work-button-1 {
  max-width: 175px;
  padding: 20px 38px;
  background-color: #FF9900;
  color: #FFFFFF;
  border: none;
  margin-right: 32px;
  cursor: pointer;
}

.we-work-button-2 {
  max-width: 147px;
  padding: 20px 38px;
  background-color: #E5E5E5;
  border: 1px solid #333333;
  cursor: pointer;
}


.how-we-work-right-block {
  padding-right: 870px;
}


.we-work-hor-page-1 {
  margin: 0;
  background-image: url(../img/we-work-hor-page-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 454px;
}





/* QUESTIONS */

.faq {
  margin-bottom: 100px;
}

.faq-title {
	margin: 0;
  margin-bottom: 41px;
}

.faq-wrap {
	margin: 0;
	padding: 0;
	list-style: none;
  font-size: 0;
}


.faq-wrap__list {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	list-style-type: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.faq-wrap__list:last-child {
  margin-bottom: 0;
}

.faq-wrap__title {
  margin: 0;
  padding: 0;
	order: 1;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px
}

.faq-wrap__button {
	order: 2;
	border: none;
	padding: 0;
	background-color: inherit;
}

.faq-wrap__button:focus-visible {
	outline: none;
}

.faq-wrap__list:hover .faq-wrap__title,
.faq-wrap__button:focus + .faq-wrap__title {
	color: #ff9900;
}

.faq-wrap__button-first::before {
	border-top: 1px solid #cacaca;
}

.faq-wrap__button::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-bottom: 1px solid #cacaca;
}

.faq-wrap__button:hover::before,
.faq-wrap__button:focus::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-top: 1px solid #ff9900;
	border-bottom: 1px solid #ff9900;
	cursor: pointer;
	margin-top: -1px;
}

.faq-wrap__button-svg {
	background-color: inherit;
}

.faq-wrap__button-svg {
	fill: #cacaca;
}
.faq-wrap__button-svg path {
	fill: #000000;
}

.faq-wrap__button:focus .faq-wrap__button-svg,
.faq-wrap__button:hover .faq-wrap__button-svg {
	fill: #ff9900;
}

.faq-wrap__button:focus .faq-wrap__button-svg path,
.faq-wrap__button:hover .faq-wrap__button-svg path {
	fill: #fff;
}

.faq-wrap__button:active .faq-wrap__button-svg path {
	transform: rotate(45deg);
	transition: transform 0.6s;
	transform-origin: 50% 50%;
}



/* FOOTER */

.footer {
  background-color: #222222;
}


.footer-container {

}

.footer-p {
  max-width: 363px;
}



.blocks {
  display: flex;
  padding: 50px 0;
}

.footer-logo {
  margin-bottom: 14px;
}

.blocks-left {
  margin-right: 345px;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 90px;
}


.footer-links {
  margin: 0;
  padding: 0;
  padding: 1px;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  color: #CACACA;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-links {
  margin-right: 25px;
}




/* blocks-center */

.blocks-center {
  max-width: 100%;
  margin-right: 236px;
}


.footer-h2 {
  margin-bottom: 25px;
  color: #CACACA;
}


.input-1, .input-2, .Textarea-3 {
  display: flex;
  padding: 0;
  margin: 0;
}

.input-1 {
  width: 100%;
  padding: 0 24px;
  height: 60px;
  margin-bottom: 25px;
  color: #CACACA;
  background-color: #414141;
  width: 100%;
}

.input-2 {
  width: 100%;
  padding: 0 24px;
  height: 60px;
  margin-bottom: 25px;
  color: #CACACA;
  background-color: #414141;
  width: 100%;
}

.form {
  max-width: 570px;
}


.Textarea-3 {
  max-width: 570px;
  margin-bottom: 32px;
  padding: 14px 442px 72px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  background-color: #414141;
}


.application__btn {
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #FF9900;
  margin-right: 22px;
  }


.application__checkbox {
  cursor: pointer;
}

.checkbox {
1
}

/**/

.checkbox__txt {
  font-weight: 400;
  font-size: 15.5px;
  line-height: 32px;
  color: #CACACA;
}


.input-3 .input-4 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.input-3 {
  padding: 19px 52px;
  background-color: #FF9900;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.input-4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}



/* block-right */

.blocks-right {
  min-width: 363px;
}

.footer-p {
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 87px 0;
  color: #CACACA;
}


